@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.menu {
	display: flex;
	gap: 2rem;
    
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

h1 {
    text-align: center;
  }
  
.main .footer{
    margin: 50px 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#ffdbac;

}

.main .copyright{
    padding-bottom: 25px;
    border-top: 1px solid #000;
    background-color:#ffdbac;
}

.main .footer .footer-header{
    max-width: 100%;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #000;
}

.main .footer .footer-links{
    display: flex;
}

.main .footer .footer-links .link{
    margin-left: 70px;
}

.main .footer .footer-links .link h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #000;
}

.main .footer .footer-links .link p{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #000;
}

.copyright p{
    font-size: 12px;
    line-height: 36px;
    color: #000;
}

@media screen and (max-width: 1040px) {
    .top-container{
        flex-direction: column;
    }

    .top-container .info-box{
        max-width: none;
        margin: 60px 0;
    }

    .top-container .nft-box{
        display: none;
    }
    
    .main .footer{
        flex-direction: column;
    }

    .main .footer .footer-header{
        max-width: 80%;
        margin-bottom: 30px;
        text-align: center;
    }

    .main .footer .footer-links .link:first-child{
        margin: 0;
    }
}

@media screen and (max-width: 925px) {
    .navbar .nav-links{
        display: none;
    }

    .navbar .nav-buttons{
        opacity: 0;
    }

    .navbar .toggler{
        display: flex !important;
        align-items: center;
    }

    .get-started .info-text{
        text-align: center;
    }

    .get-started .items-box{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        padding: 50px 0;
    }

    .get-started .items-box:before{
        height: 200px;
        top: 90px;
        filter: blur(120px);
    }
}

@media screen and (max-width: 700px) {
    .top-container{
        margin-top: 4rem !important;
    }

    .top-container .info-box{
        max-height: none;
        max-width: none;
        margin-bottom: 4rem;
    }

    .top-container .nft-box{
        display: block;
        max-width: none;
        max-height: none;
    }
}

@media screen and (max-width: 600px) {
    .main{
        padding: 0 40px;
    }

    .footer .footer-header{
        font-size: 20px;
        line-height: 30px;
        max-width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer .footer-links{
        justify-content: space-between;
        width: 100%;
    }

    .footer .footer-links .link{
        margin-left: 20px;
    }

    .footer .footer-links .link h5{
        font-size: 15px;
        line-height: 35px;
    }

    .footer .footer-links .link p{
        font-size: 11px;
        line-height: 18px;
    }
}

@keyframes toRight{
    from{
        transform: translateX(-700px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes toLeft{
    from{
        transform: translateX(550px);
    }
    to{
        transform: translateX(0px);
    }
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espacio entre los íconos */
}

.social-links a {
    color: #000; 
    font-size: 24px;
    text-decoration: none; 
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007bff; 
}

/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #000;
    background-color: #fff;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0px 0;
    width: 100%;
    top:0;
    z-index:1000;
    background-color:#ffdbac;
   
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
    background-color: #ffdbac;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*titulos- heading-1*/
.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}